<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/lectures/details.css">
    <title>Lectures: {{lecture.title}} </title>
</head>
<body>
    <div class="content">
        <h1>{{ lecture.title }} </h1>

        <p>
            This lecture has been scheduled for
            <span class="date">{{lecture.date }}</span>, at
            <span class="time">{{ lecture.time }}</span> in
            <span class="lab">{{ lecture.lab }}</span>.
        </p>

        <a href="{% url 'welcome' %}">Home</a>

    </div>
</body>
</html>



